It is found that a few countries, that performed well in 2020 and 2021, are not doing well in 2022 (have more deaths in 2022, and even worse than many other countries that used to performed very poor. Can you demonstrate this situation based on Excess Deaths in the 3 years (2020, 2021, 2022)?

In [6]:
import random
import pandas as pd
import numpy as np
import math
import json
import matplotlib.pyplot as plt
from pandas import Timestamp
from datetime import datetime
from time import time
from os import getcwd
from os.path import join
%matplotlib inline

## Load Data

In [7]:
path = join(getcwd().rstrip('src'),
            'data/world_mortality.csv').replace('\\', '/')
DF = pd.read_csv(path)
# DF = pd.read_csv('~/AI/DATA/BigData/DeathBirthRate/world_mortality2015-20220214.csv')
DF.rename(columns={'country_name': 'country'}, inplace=True)
print(DF.head(10))

  iso3c  country  year  time time_unit  deaths
0   ALB  Albania  2015     1   monthly  2490.0
1   ALB  Albania  2015     2   monthly  2139.0
2   ALB  Albania  2015     3   monthly  2051.0
3   ALB  Albania  2015     4   monthly  1906.0
4   ALB  Albania  2015     5   monthly  1709.0
5   ALB  Albania  2015     6   monthly  1561.0
6   ALB  Albania  2015     7   monthly  2008.0
7   ALB  Albania  2015     8   monthly  1687.0
8   ALB  Albania  2015     9   monthly  1569.0
9   ALB  Albania  2015    10   monthly  1560.0

## Get progress last week

In [10]:
DF_2015_2019 = DF[DF.year < 2020]
DF_2020_2021 = DF[(DF.year == 2020) | (DF.year == 2021)]
tmp = DF.copy()

   iso3c  country  year  time time_unit  deaths
60   ALB  Albania  2020     1   monthly  2187.0
61   ALB  Albania  2020     2   monthly  2018.0
62   ALB  Albania  2020     3   monthly  1993.0
63   ALB  Albania  2020     4   monthly  1804.0
64   ALB  Albania  2020     5   monthly  1803.0

In [12]:
Irregular = DF_2020_2021.groupby('country').mean().reset_index()
Irregular['AverageAnnualUnitCount'] = round(Irregular.time * 2 - 1, 0)
Irregular = pd.merge(Irregular, tmp, on='country')
print(Irregular.head())
Irregular['deaths'] = Irregular.deaths * Irregular.AnnualUnitCount
Irregular = Irregular[['country', 'deaths', 'AverageAnnualUnitCount']]
Irregular.head()

   country  year_x  time_x  deaths_x  AverageAnnualUnitCount iso3c  year_y  \
0  Albania  2020.5     6.5  2424.375                    12.0   ALB    2015
1  Albania  2020.5     6.5  2424.375                    12.0   ALB    2015
2  Albania  2020.5     6.5  2424.375                    12.0   ALB    2015
3  Albania  2020.5     6.5  2424.375                    12.0   ALB    2015
4  Albania  2020.5     6.5  2424.375                    12.0   ALB    2015

   time_y time_unit  deaths_y
0       1   monthly    2490.0
1       2   monthly    2139.0
2       3   monthly    2051.0
3       4   monthly    1906.0
4       5   monthly    1709.0

AttributeError: 'DataFrame' object has no attribute 'deaths'

In [ ]:
Regular = DF_2015_2019.groupby('country').mean().reset_index()
Regular['AverageAnnualUnitCount'] = round(Regular.time * 2 - 1, 0)
Regular = pd.merge(Regular, tmp, on='country')
Regular['deaths'] = Regular.deaths * Regular.AnnualUnitCount
Regular = Regular[['country', 'deaths', 'AverageAnnualUnitCount']]
Regular.head()